GEMINI_API_KEY=AQ.Ab8RN6K_5qRECqrjlD5y34T59BgsfMv4DyDt6LVUd83MHgIHHg
GEMINI_MODEL=gemini-2.5-flash
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/floodalert
APP_NAME=FloodAlert

EMAIL_USER=floodalertofficial@gmail.com
EMAIL_APP_PASSWORD=eyif zdre qwmm pyzr
EMAIL_FROM=floodalertofficial@gmail.com
